.container {
    width: 96%;
    margin: auto;
    margin-top: 20px;
    align-content: center;
}

.trainingImages {
    position: relative;
    overflow: hidden;
    float: left;
    margin: 5px;
}

.info_on_img_left {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 0px !important;
    color: white !important;
    background-color: green;
    padding: 2px;
}

.info_on_img_right {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 0px !important;
    color: white !important;
    background-color: green;
    padding: 2px;
}

.sameline {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}